<div class="flex flex-col justify-center items-center h-screen text-center bg-gradient-to-r from-gray-700 via-gray-900 to-black text-white">
    <h1 class="text-6xl mb-5">
        <i class="fas fa-tools"></i> Coming Soon
    </h1>
    <p class="text-2xl mb-5">
        We are working hard to bring you this feature. Stay tuned!
    </p>
    <div class="flex space-x-4">
        <fa-icon [icon]="faCog" class="text-4xl"></fa-icon>
        <fa-icon [icon]="faHourglass" class="text-4xl"></fa-icon>
        <fa-icon [icon]="faRocket" class="text-4xl"></fa-icon>
    </div>
</div>
