<!-- main  -->
<div class="flex flex-col gap-20 px-0 w-full scrollbar-hide">
    <!-- hero -->
     <app-hero></app-hero>
    <!-- hero ends -->
     <!-- myservices -->
      <div class="p-4" id="services" >
        <app-myserve></app-myserve>
      </div>
     <!-- myservices ends -->
     <!-- prices -->
      <div class="p-4" >
        <app-prices></app-prices>
      </div>
     <!-- prices ends -->
     <!-- recommendation -->
      <div class="p-4" >
        <app-recommendation></app-recommendation>
      </div>
     <!-- recommendation ends -->
     <!-- workh -->
      <div class="p-4" >
        <app-workh></app-workh>
      </div>
     <!-- workh ends -->
     <!-- blog -->
      <div class="p-4" >
        <app-blog></app-blog>
      </div>
     <!-- blog ends -->
     <!-- contact -->
      <div class="p-4" >
        <app-infos></app-infos>
      </div>
     <!-- contact ends -->
      <div class="p-4">
        <div class="border-[7px] rounded-lg border-gray-700" >
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d246.8396988711661!2d4.2660358505036235!3d8.158833990581497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sng!4v1736127096931!5m2!1sen!2sng" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-full mx-auto"></iframe>
        </div>
      </div>
</div>
<!-- main ends -->