<div class=" p-4">
    <div class="flex flex-col gap-5 items-center text-center lg:w-[50%] m-auto ">
        <h1 class="font-bold text-4xl">Education</h1>
        <p class="text-gray-500" >Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</p>
     </div>

    <div class="flex flex-col p-3 bg-white mt-16">
        <!-- inner -->
        <div class="flex flex-col">
            <!-- main  -->
            <div class=" flexflex-col md:flex  p-3 border-b-[1px]" *ngFor="let item of edu" >
                <!-- first -->
                <div class="flex flex-col w-[100%] md:w-[40%] gap-2 justify-between ">
                    <!-- uni -->
                    <div class="">
                        <h1> {{item.university}} </h1>
                    </div>
                    <!-- school  -->
                    <div class="flex items-center">
                        <p>{{item.status}}</p>
                        <p class="pl-2 text-[13px] bg-[#FFB400] ml-3 rounded">{{item.year}}</p>
                    </div>
                </div>
                <!-- second -->
                <div class="flex flex-col w-[100%] md:w-[60%] justify-between">
                    <!-- cert  -->
                     <div class="">
                        <h1 class="font-medium text-[20px]" >{{item.degree}}</h1>
                     </div>
                     <!-- desc -->
                     <div class="">
                        <p class="text-gray-600">{{item.desc}}</p>
                     </div>

                </div>
            </div>
        </div>
    </div>
</div>